@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@400;500;600;700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Hanken+Grotesk:wght@400;500;600;700&display=swap');

@tailwind base;
@tailwind components;
@tailwind utilities;


:root {
    --font-mont: 'Montserrat', sans-serif;
    --font-hk: 'Hanken Grotesk', sans-serif;
}